// Overridden variables //
$enable-negative-margins: true;

$font-family-sans-serif: 'system-ui', -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", Lato, "DM Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

:focus { outline-color: #d04f4f; }
::placeholder { color: #adadad; }
$h5-font-size: 1.2em;

a { 
  text-decoration: none !important;
  color: #fff !important;
}

// Header
#heading {
  color: #d04f4f;
  font-family: 'DM Sans';
  font-weight: bold;
}

// Searchbar
#searchbar {
  height: 70px;
  border: transparent;
  border-radius: .3rem;
  background-color: #e7e7e7;
  font-family: Lato;
  font-size: 1.2rem;

  &__icon { 
    width: fit-content;
    font-size: 2em 
  }
}

// Grid
#main-grid {
  margin: 0 -2.1em; 
  font-family: Lato;
}

// Recipe cards
.recipe {
  transition: transform .2s ease-in-out;
  &:hover { transform: scale(1.015); }

  &__time {
    font-size: 1.1em;
    font-weight: bold;
  }

  &__title { max-width: 75%; }

  &__text { font-size: .75em; }

  &__ingredients{ 
    list-style: none;
    line-height: 16px;
  }

  &__description {
    font-family: Roboto, sans-serif;
    line-height: 13px;
    height: 100%;
    // Line clamping
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}

// Button component
.btn-container {
  position: relative;
  // Height of children buttons
  height: 60px;
  z-index: 5;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1.2em;
}

.btn-active { 
  flex: .7;
  .btn-component__arrow { transform: rotate(600grad); }
}

.btn-component {
  min-width: 170px;
  width: fit-content;
  max-height: 397px;
  overflow: scroll;
  font-family: Lato;
  color: #fff;
  font-size: 1.1em;
  border: none;
  transition: all .5s ease-in-out;

  &__arrow { 
    vertical-align: baseline;
    transition: all .7s ease-in-out;
  };

  &__input { 
    width: 90%;
    border: none;
    color: #fff;
    font-weight: bold;
    background: transparent;
    outline: none;

    &::placeholder {
      color: #fff;
      opacity: 50%;
      font-weight: 700;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: .6em;
    row-gap: .4em;
    column-gap: 1.3em;

    .list-item {
      display: inline-block;
      width: 30%;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

#btn-ingredients { background-color: #3282f7; }

#btn-appliances { background-color: #68d9a4; }

#btn-utensils { background-color: #Ed6454; }

// Tags
.tag {
  margin-right: .8em;
  padding: .5em;
  border-radius: 8px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: .8em;
  }

  &__name {
    color: #fff;
    padding-left: .2em;
    font-size: .9em;
    font-weight: 500;
  }

  &__close-button {
    background: transparent;
    border: none;
    vertical-align: baseline;

    img { padding-bottom: 2px; }
  }

  &__ingredients { background-color: #3282f7; }

  &__appliances { background-color: #68d9a4; }

  &__utensils { background-color: #Ed6454; }
}


// Imported SCSS Bootstrap file
@import '../node_modules/bootstrap/scss/bootstrap.scss';
