// Overridden variables //
$enable-negative-margins: true;

$font-family-sans-serif: 'system-ui', -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", Lato, "DM Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

:focus { outline-color: #d04f4f; }
::placeholder { color: #adadad; }
$h5-font-size: 1.2em;

#heading {
  color: #d04f4f;
  font-family: 'DM Sans';
  font-weight: bold;
}

#searchbar {
  height: 70px;
  border: transparent;
  border-radius: .3rem;
  background-color: #e7e7e7;
  font-family: Lato;
  font-size: 1.2rem;

  &__icon { 
    width: fit-content;
    font-size: 2em 
  }
}

#main-grid {
  margin: 0 -2.1em; 
  font-family: Lato;
}

.recipe {
  transition: transform .2s ease-in-out;
  &:hover { transform: scale(1.015); }

  &__time {
    font-size: 1.1em;
    font-weight: bold;
  }

  &__title { max-width: 75%; }

  &__text { font-size: .75em; }

  &__ingredients{ list-style: none; }

  &__description {
    font-family: Roboto, sans-serif;
    // Line clamping
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}

// Imported SCSS Bootstrap file
@import '../node_modules/bootstrap/scss/bootstrap.scss';
