// Overridden variables //
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", Lato, "DM Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

:focus { outline-color: #d04f4f; }

#heading {
  color: #d04f4f;
  font-family: 'DM Sans';
  font-weight: bold;
}

#searchbar {
  height: 70px;
  border: transparent;
  border-radius: .3rem;
  background-color: #e7e7e7;
  font-family: Lato;
}

::placeholder { color: #adadad; }

// Imported SCSS Bootstrap file
@import '../node_modules/bootstrap/scss/bootstrap.scss';
